[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs
Comment=Edit text
Exec=/usr/local/bin/emacs
Icon=emacs
Path=
Terminal=false
StartupNotify=true
