[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty
Comment=Terminal Emulator
Exec=alacritty
Icon=alacritty
Path=
Terminal=false
StartupNotify=true
